In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('./germeval2018.training.txt', sep='\t', header=None, names=["Text", "Coarse", "Fine"])
# df = pd.read_csv('./germeval2018.test.txt', sep='\t', header=None, names=["Text", "Coarse", "Fine"])
df.head(5)

                                                Text   Coarse    Fine
0  @corinnamilborn Liebe Corinna, wir würden dich...    OTHER   OTHER
1  @Martin28a Sie haben ja auch Recht. Unser Twee...    OTHER   OTHER
2  @ahrens_theo fröhlicher gruß aus der schönsten...    OTHER   OTHER
3  @dushanwegner Amis hätten alles und jeden gewä...    OTHER   OTHER
4  @spdde kein verläßlicher Verhandlungspartner. ...  OFFENSE  INSULT

In [50]:
uniques_num = []
uniques_num.append(df["Coarse"].nunique())
uniques_num.append(df["Fine"].nunique())
uniques_num

[2, 4]

In [51]:
uniques = []
uniques.append(df["Coarse"].unique())
uniques.append(df["Fine"].unique())
uniques

[array(['OTHER', 'OFFENSE'], dtype=object),
 array(['OTHER', 'INSULT', 'PROFANITY', 'ABUSE'], dtype=object)]

In [52]:
df.count()

Text      5009
Coarse    5009
Fine      5009
dtype: int64

In [70]:
label_coarse = df["Coarse"].to_list()
type(int(df["Text"].count()))

int